@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
}

.container {
  max-width: 1432px;
  margin: auto;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Inter", sans-serif;
}
